{% set STATIC_URL = config['STATIC_URL'] %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <link rel="stylesheet" href="{{ STATIC_URL }}css/build/all.min.css" />
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
  </head>
  <body id='page-{{ page }}' class='page page-{{ page }}'>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2014 by <a href="/">Flask Starter</a>.
      {% endblock %}
    </div>
  </body>
</html>
